.beer-page {
  margin: 15px 50px;
}

.beer-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.beer-tile {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
}

.beer-imgs {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.beer-name {
  margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}